<h1>MANEJADOR</h1>
<p>LLEGASTE AQUI POR UN MANEJADOR EXPRESS</p>
<ul>
    <li><a href="/">VOLVER A INDEX</a></li>
    <li><a href="/ruta1">RUTA EN EXPRESS</a></li>
    <li><a href="/otromanejador">USAR OTRO MANEJADOR</a></li>
</ul>