@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #CC3910;
	float: left;
	width: 160px;
}
ul {
	list-style-type:none;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;

}
aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}
@media screen and (max-width:800px){
	#contenedor {
		display: flex;
		flex-direction: column;
		padding: 5px;
		width: auto;
	}
	aside{
		width: auto;
		padding-left: 15px;
		padding-right: 15px;
		flex-wrap: wrap;
		float: right;
	}
	nav{
		width: auto;
		background: orange;
		padding-left: 15px;
		padding-right: 15px;
		line-height: 40px;
	}
	section{
		width: auto;
		margin: 0 0 0 0px;
		padding-left: 15px;
		padding-right: 15px;
	}
	a {
		color:#13130f;
		text-decoration: none;
	}

}
