body{
    background-color: bisque;
    padding-right: 50px;
    padding-left: 50px;
    padding-top:30px;
    font-size: large;
    border: 100px;
    margin: 20px;

}

h1{
    color: cornsilk;
    background: linear-gradient(to left, grey, black);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 15px;
}
legend
{
    font-weight: bold;
    color: blue;
}
li{
    font-weight: bold;
}
#personalizado
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
.MiClase{
    font-weight: bold;
}
.dosColumnas{
    column-count: 2;
    column-gap: 30px;
}
.sombra{
    box-shadow: 10px 10px 40px rgb(68, 68, 73);
}
