body{
    background-color: bisque;
    padding-right: 50px;
    padding-left: 50px;
    padding-top:30px;
    font-size: large;

}

H1{
    color: cornsilk;
    background-color: darkgray;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
legend
{
    font-weight: bold;
    color: blue;
}
li{
    font-weight: bold;
}
#personalizado
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}